# 해당 파일을 복사하여 사용 합니다. 실제 환경에서는 .env 파일을 만들어서 사용하세요.

APP_NAME=fastapi-boilerplate
APP_PORT=8000

# Environment
ENV=local # local, development, staging, production

# Logging
LOG_LEVEL=INFO # DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FILE_PATH=logs/app.log
LOG_ROTATION="1 day"
LOG_RETENTION="7 days"

#################################################################
# Other configurations can be added here as needed
#################################################################